[submodule "mocs"]
	path = mocs
	url = https://github.com/LondonAFOLs/MOCs.git
[submodule "blog"]
	path = blog
	url = https://github.com/LondonAFOLs/Blog.git
[submodule "wiki"]
	path = wiki
	url = https://github.com/LondonAFOLs/londonafols.github.io.wiki.git
