.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  min-height: 1px;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}
.container {
  padding: 0;
  width: auto;
}
body.londonafols {
  margin: 0;
  padding: 0;
  font-size: 12pt;
}
body.londonafols p {
  margin: 0 0 0.6em 0;
  padding: 0;
}
body.londonafols h1,
body.londonafols h2,
body.londonafols h3,
body.londonafols h4,
body.londonafols h5,
body.londonafols h6 {
  margin: 0;
  padding: 0;
  font-size: 12pt;
}
body.londonafols h1 {
  text-align: center;
  font-size: 18pt;
  margin: 0.5em 0 0.5em 0;
}
body.londonafols ul {
  margin: 0;
  padding: 0;
}
body.londonafols ul li {
  margin: 0;
  padding: 0;
}
body.londonafols .row {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}
body.londonafols .btn-primary {
  background: #E70128 none;
  border: none;
}
body.londonafols .btn-primary:hover {
  background: #b4011f;
}
body.londonafols .jumbotron {
  margin: 1.5em 0 0 0;
  padding: 0;
  width: 100%;
  background: white;
}
body.londonafols .jumbotron .banner {
  padding: 0;
  text-align: center;
}
body.londonafols .jumbotron .banner .logo {
  width: 220px;
  padding: 0;
  margin-right: 0;
  display: inline-block;
  text-align: center;
}
body.londonafols .jumbotron .blurb {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0 80px;
}
body.londonafols .jumbotron .blurb p {
  font-size: 14pt;
  line-height: 130%;
}
body.londonafols .jumbotron .tagline {
  width: auto;
  list-style-type: none;
  font-weight: 500;
  font-size: 18pt;
  color: #010f67;
}
body.londonafols .jumbotron .tagline li {
  margin: 0;
  padding: 0;
}
body.londonafols .jumbotron .tagline li:after {
  content: ".";
}
body.londonafols .nextmeetup {
  padding: 0 80px;
  background-color: #021799;
  color: white;
  position: relative;
}
body.londonafols .nextmeetup .minifigs {
  margin-top: 2em;
  text-align: right;
}
body.londonafols .nextmeetup .carousel-container {
  position: relative;
}
body.londonafols .nextmeetup .carousel-indicators {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  text-align: center;
  width: 100%;
}
body.londonafols .nextmeetup .glyphicon-refresh {
  font-size: 3em;
}
body.londonafols .nextmeetup .learnmore {
  margin-top: 20px;
}
body.londonafols .nextmeetup .spinner {
  position: absolute;
  left: 0;
  top: 50px;
}
body.londonafols .nextmeetup .carousel {
  padding-left: 0;
  padding-right: 0;
  position: relative;
}
body.londonafols .nextmeetup .carousel .item {
  min-height: 220px;
  padding: 0;
}
body.londonafols .nextmeetup .carousel .item .row {
  margin-left: 0px;
}
body.londonafols .nextmeetup .carousel .item h2.row {
  margin-top: 2em;
  font-size: 15pt;
}
body.londonafols .nextmeetup .carousel .item .col-md-1.col-sm-1 {
  display: inline-block;
  float: left;
  clear: both;
  width: auto;
  text-align: left;
  margin-right: 0.3em;
}
body.londonafols .nextmeetup .carousel .item .address,
body.londonafols .nextmeetup .carousel .item .when {
  text-align: left;
  display: inline-block;
  float: left;
  width: auto;
  max-width: 80%;
  margin: 0 3em 1em 0;
}
body.londonafols .nextmeetup .carousel .item .address span,
body.londonafols .nextmeetup .carousel .item .when span {
  display: inline-block;
  width: auto;
  margin: 0;
}
body.londonafols .online {
  padding: 0 80px;
}
body.londonafols .online h1 {
  color: #010f67;
}
body.londonafols .online .btn {
  margin-bottom: 1pt;
}
body.londonafols .spinner .glyphicon-refresh {
  display: inline-block;
  -webkit-animation: spin 1000ms infinite linear;
  animation: spin 1000ms infinite linear;
}
body.londonafols .disclaimer {
  padding: 0 80px;
  font-size: 8pt;
  margin: 4em 0 2em 0;
}
body.londonafols .lego-reserved {
  position: relative;
  font-size: 40%;
  vertical-align: baseline;
  top: -1.2em;
}
body.londonafols .carousel .glyphicon {
  font-size: 14pt;
}
body.londonafols .where-and-when {
  padding-top: 16px;
}
body.londonafols .address span {
  display: block;
  margin-left: 5px;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@media screen and (max-width: 770px) {
  body.londonafols .jumbotron {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  body.londonafols .jumbotron .blurb {
    padding: 0 30px;
  }
  body.londonafols .jumbotron .blurb p {
    font-size: 12pt;
  }
  body.londonafols .jumbotron .tagline {
    margin-top: 1em;
    font-size: 18pt;
    text-align: center;
  }
  body.londonafols .nextmeetup {
    padding: 0 30px;
  }
  body.londonafols .nextmeetup .minifigs {
    text-align: center;
  }
  body.londonafols .nextmeetup .carousel .item .address,
  body.londonafols .nextmeetup .carousel .item .when {
    margin-right: 0em;
  }
  body.londonafols .online {
    padding: 0 30px;
  }
  body.londonafols .disclaimer {
    padding: 0 30px;
  }
}
@media screen and (min-width: 770px) {
  body.londonafols h1 {
    text-align: left;
  }
  body.londonafols .jumbotron .banner {
    text-align: left;
  }
  body.londonafols .nextmeetup {
    padding: 0;
  }
  body.londonafols .minifigs {
    padding-right: 24px;
    text-align: right;
  }
}
@media screen and (min-width: 770px) and (max-width: 1024px) {
  body.londonafols .jumbotron {
    padding: 0 60px;
  }
  body.londonafols .jumbotron .blurb {
    padding: 0;
  }
  body.londonafols .jumbotron .tagline {
    padding: 0 0 0 1em;
  }
  body.londonafols .nextmeetup {
    padding: 0 60px;
  }
  body.londonafols .nextmeetup .minifigs {
    text-align: left;
    width: 200px;
  }
  body.londonafols .nextmeetup .carousel-container {
    padding-left: 2em;
  }
  body.londonafols .online {
    padding: 0 60px;
  }
  body.londonafols .disclaimer {
    padding: 0 60px;
  }
}
@media screen and (min-width: 1024px) {
  body.londonafols .jumbotron {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  body.londonafols .jumbotron .banner {
    padding: 0;
  }
  body.londonafols .jumbotron .banner .logo {
    width: 25%;
    margin: 0;
    text-align: right;
  }
  body.londonafols .jumbotron .banner .logo img {
    width: 220px;
    padding: 0;
    display: inline-block;
    margin-right: 24px;
  }
  body.londonafols .jumbotron .blurb {
    padding: 0;
  }
  body.londonafols .nextmeetup h1 {
    margin-left: 25%;
  }
  body.londonafols .online {
    padding: 0;
    margin-left: 25%;
  }
  body.londonafols .disclaimer {
    padding: 0;
  }
}
.github-fork-ribbon:before {
  background-color: #021799;
}
.github-fork-ribbon:after {
  border: none;
}
