body.londonafols .btn-primary {
    background: #E70128 none;
    border: none;
}

body.londonafols .jumbotron {
    background: white;
}

body.londonafols .jumbotron .tagline {
    list-style-type: none;
    font-weight: 500;
    font-size: x-large;
}

body.londonafols .nextmeetup {
    background-color: #021799;
    color: white;
}

body.londonafols .socialmedia {
    color: black;
    background-color: white;
}

body.londonafols .carousel {
    height: 100%;
}

body.londonafols .spinner .glyphicon-refresh {
    display: inline-block;

    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}

body.londonafols .disclaimer {
    font-size: x-small;
    margin-bottom: 2em;
}

body.londonafols .lego-reserved {
    position: relative;
    font-size: 40%;
    vertical-align: baseline;
    top: -1.2em;
}

body.londonafols .carousel .glyphicon {
    font-size: large;
}

body.londonafols .where-and-when {
    padding-top: 10px;
}

body.londonafols .address span {
    display: block;
    margin-left: 5px;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@media screen and (max-width:768px) {
    body.londonafols .jumbotron {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    body.londonafols .jumbotron .logo {
        width: 250px;
        position: relative;
        margin-right: auto;
        margin-left: auto;
    }

    body.londonafols .jumbotron .blurb {
        font-size: medium;
        padding: 15px 45px;
    }

    body.londonafols .joinus, body.londonafols .nextmeetup, body.londonafols .meetup .sitename, body.londonafols .facebook, body.londonafols .twitter, body.londonafols .flickr {
        display: none;
    }

    body.londonafols .meetup {
        margin-top: 75px;
    }

    body.londonafols .disclaimer {
        padding-top: 50px;
    }

    body.londonafols .jumbotron .tagline li:after {
        content: ".";
    }

    body.londonafols .minifigs {
        padding-left: 30px;
    }
}

@media screen and (min-width:412px) and (max-width:768px) {
    body.londonafols .minifigs {
        padding-left: 45px;
    }
}

@media screen and (min-width:768px) {
    body.londonafols .jumbotron {
        padding-top: 24px;
        padding-bottom: 12px;
        margin-bottom: 0;
    }

    body.londonafols .jumbotron .logo {
        padding-right: 30px;
        margin-top: 48px;
    }

    body.londonafols .jumbotron .blurb {
        margin-top: 12px;
        padding: 15px 30px;
    }

    body.londonafols .jumbotron .blurb > div {
        padding-left: 0;
        padding-right: 0;
    }

    body.londonafols .jumbotron .tagline li {
        display: inline;
    }

    body.londonafols .jumbotron .tagline li:not(:last-of-type):after {
        content: "\00b7";
        margin-left: 5px;
    }

    body.londonafols .joinus {
        padding-left: 0px;
    }

    body.londonafols .joinus h1 {
        margin-top: 0;
        padding-left: 0;
        padding-right: 0;
    }

    body.londonafols .nextmeetup .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    body.londonafols .nextmeetup .carousel-container {
        height: 250px;
        padding-left: 0;
    }

    body.londonafols .nextmeetup .glyphicon-refresh {
        font-size: 32pt;
    }

    body.londonafols .nextmeetup .learnmore {
        margin-top: 20px;
    }

    body.londonafols .nextmeetup .spinner {
        position: absolute;
        top: 50px;
    }

    body.londonafols .nextmeetup .carousel {
        padding-left: 0;
        padding-right: 0;
        position: relative;
    }

    body.londonafols .nextmeetup .carousel .item {
        height: 200px;
        padding: 0px;
    }

    body.londonafols .nextmeetup .carousel .item .row {
        margin-left: 0px;
    }

    body.londonafols .carousel-indicators {
        bottom: 0px;
    }

    body.londonafols .socialmedia {
        padding: 30px 0;
    }

    body.londonafols .socialmedia .btn {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    body.londonafols .socialmedia .btn-title {
        font-size: larger;
    }
}

@media screen and (max-width:992px) {
    body.londonafols .jumbotron .tagline {
        margin-top: 30px;
        text-align: center;
    }

    body.londonafols .jumbotron .blurb p {
        display: inline;
        font-size: medium;
    }

    body.londonafols .joinus h1 {
        margin-top: 0px;
        margin-left: 10px;
    }
}

@media screen and (min-width:768px) and (max-width:992px) {
    body.londonafols .jumbotron .logo {
        margin-top: 10px;
    }

    body.londonafols .jumbotron .tagline {
        font-size: 32px;
        padding-left: 0;
    }

    body.londonafols .jumbotron .blurb {
        margin-top: 12px;
    }

}

@media screen and (min-width:992px) {
    body.londonafols .jumbotron .tagline {
        font-size: 63px;
        padding-left: 0;
    }

    body.londonafols .jumbotron .tagline li {
        margin-bottom: -15px;
    }

    body.londonafols .jumbotron .tagline li:after {
        content: ".";
    }
}